@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,900|Yrsa:400,500,600,700&display=swap");

.face {
  position: relative;
}

.eye {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eye img {
  max-width: 122px;
}
.eyebrow img {
  max-width: 200px;
}

.mouth img {
  max-width: 173px;
  position: absolute;
  top: 240px;
  left: 97px;
}

.nose img {
  max-width: 100px;
  position: absolute;
  top: 75px;
  left: 135px;
}

#eye1 {
  position: absolute;
  right: 0;
}
#eye2 {
  position: absolute;
  left: 0;
}

.frame-1 {
  /* margin: 0; */
  display: flex;
  justify-content: center;
}
body {
  opacity: 1;
  transition: 1s opacity;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Yrsa", serif;
}

body.fade {
  opacity: 0;
  transition: none;
}

#intro-text {
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text1 {
  /* display: none; */
}

#text2 {
  /* display: none; */
}

.face {
  display: none;
  position: relative;
  width: 380px;
  height: 320px;
  opacity: 0;
}

#main {
  margin-top: 200px;
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
}

.main-text {
  margin-right: 180px;
  width: 55%;
  text-align: left;
}
#body1 {
  opacity: 0;
}
#body2 {
  opacity: 0;
}
#body3 {
  opacity: 0;
}
#body4 {
  opacity: 0;
}

#author {
  opacity: 0;
}
